* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin: 0.5em 0.3em;

}
body > * {
    background-color: lightskyblue;
    border-radius: 0.3em;
}
header,
footer {
    flex: 1 1 100%;
}
main {
    flex: 1 1 70%;
    gap: 1em;
}
header, main {
    padding: 2em 1em;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
}
nav li {
    display: block;
}
nav a {
    display: block;
    padding: 1em 1.5em;
}
main ul {
    padding: 2em 2em 0;
}
aside {
    flex: 1 1 20%;
    padding: 0.7em;
}
aside ul li {
    list-style: none;
    padding: 0.3em;
}
a {
    text-decoration: none;
    color: rgb(136, 63, 63);
}
footer {
    padding: 0.5em;
}

@media (width < 500px) {
    body {
        flex-direction: column;
    }
    header,
    nav ul {
        display: block;
    }
}