* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin: 0.5em 0.3em;

}
body > * {
    background-color: lightskyblue;
    border-radius: 0.3em;
}
header,
footer {
    flex: 1 1 100%;
    padding: 2em 1em;
}
main {
    flex: 1 1 70%;
    gap: 1em;
}
header, main {
    padding: 2em 1em;
}
nav {
    flex: 1 1 auto;
    padding: 0.7em;
}
nav ul li {
    list-style: none;
    padding: 0.3em;
}
a {
    text-decoration: none;
    color: rgb(136, 63, 63);
}
main ul {
    padding: 2em 2em 0;
}
footer {
    padding: 0.5em;
}

@media (width < 500px) {
    body {
        flex-direction: column;
    }
}